.cart {
  &-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  &-content {
    flex: 2 300px;

    background-color: white;
    height: min-content;
  }
  &-list {
    width: 100%;
    list-style-type: none;
  }
  &-item {
    padding:  10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    &-image {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-right: 15px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    &-title {
      font-size: 16px;
      line-height: 24px;
    }
    &-category {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.543846);
    }
    &-count {
      margin-left: auto;
      margin-right: 10px;
      width: 30px;
      padding: 3px;
      border: none;
      background-color: #F2EEF1;
      // &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      //   -webkit-appearance: none;
      //   margin: 0;
      // }   
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &-sidebar {
    flex: 1 330px;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    margin: 0 auto;
    padding-bottom: 15px;
    &-header {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 20px;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    &-content {
      padding: 12px;
      display: flex;
      flex-direction: column;
    }
    &-details {
      margin-bottom: 10px;
    }
  }
  &-form {
    padding: 0 12px 12px 12px;
    display: flex;
  }
}

.empty-cart {
  margin: 20px 10px;

}
